.card-header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../image/techme.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px;
  color: white;
  text-align: center;
  border-radius: 10px;
  filter: brightness(50%);
  
}



.card-header h1 {
  margin-bottom: auto;
  margin-top: auto;
  margin-right:500px;
  margin-left:0px;
  font-size: 4.3rem;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:yellow
  
}

.card-header h2 {
  margin-bottom: auto;
  margin-top: auto;
  margin-right:670px;
  margin-left:0px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: orangered;
}

@media (max-width: 768px) {
  .card-header {
    padding: 80px;
  }
  
  .card-header h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .card-header {
    padding: 60px;
  }
  
  .card-header h1 {
    font-size: 1.5em;
  }
}
