.card-header {
  position: relative;
  
  background-size: cover;
  background-position: center;
  padding: 200px;
  color: white;
  text-align: center;
  height: 50vh;

}
/* 
.header{
  display: flex;
  justify-content: center;
  align-items: center;
} */


.card-header h1 {

 
  
  margin-right:500px;
  margin-left:0px;
  font-size: 4.3rem;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;

  
}

.card-header h2 {
  margin-bottom: auto;
  margin-top: auto;
  margin-right:670px;
  margin-left:0px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: orangered;
}

@media (max-width: 768px) {
  .card-header {
    padding: 80px;
  }
  
  .card-header h1 {
    width: 200px;
    font-size: 2em;
    display: block;
  }
}

@media (max-width: 480px) {
  .card-header {
    padding: 60px;
  }
  
  .card-header h1 {
    font-size: 1.5em;
   
  }
}
